<!DOCTYPE html>
<html>
  <head>
    <title>Funtopia-Magazin de jucarii</title>
    <meta
      name="keywords"
      content=" jucarii, copil, cadou, magazin de jucarii, magazin de jucarii online, jocuri, jocuri de societate, jocuri educative, puzzle, puzzle 3D, puzzle pentru copii, puzzle pentru adulti, Lego, Lego pentru copii, Lego pentru adulti, Lego Harry Potter, Lego Spiderman"
    />
    <meta
      name="description"
      content="Magazin de jucarii. Jocuri educative, jocuri de societate. Puzzle-uri. Jucarii de tip Lego"
    />
    <%- include("../fragmente/head.ejs") %>
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.css"
      type="texs/css"
    />
  </head>

  <body>
    <%- include("../fragmente/header.ejs") %>
    <main>
      <div id="grid-pagina">
        <section id="welcome">
          <h2>Ne bucuram sa va cunoastem</h2>
          <button class="btn btn-primary">ceva</button>
          <p>
            Sunteti pregatiti sa porniti intr-o calatorie magica prin taramul
            jucariilor? Daca raspunsul este da, atunci ati ajuns in locul
            potrivit!
          </p>
          <div class="inima"><i class="fa-solid fa-heart fa-fade"></i></div>

          <video class="vtt" poster="/resurse/imagini/w1.jpg" controls>
            <source src="/resurse/videoclipuri/v.mp4" type="video/mp4" />
            <source src="/resurse/videoclipuri/v.ogv" type="video/ogv" />
            <track
              default
              src="/resurse/videoclipuri/subtitrari.vtt"
              kind="captions"
              srclang="ro"
              label="romana"
            />
            <track
              src="/resurse/videoclipuri/subtitrari_en.vtt"
              kind="captions"
              srclang="en"
              label="englezza"
            />
          </video>
        </section>
        <section id="oferte">
          <h2><b>Oferte speciale</b></h2>
          <article>
            <h3>Love is in the air</h3>
            <p>
              Aici, la <b>Funtopia</b>, purtam zilnic in suflet iubire pentru
              clientii nostri, dar si pentru meseria pe care o practicam. Cu
              ocazia sezonului iubirii, ne dorim sa transmitem macar un strop
              din iubirea noastra catre voi. Asadar, in perioada
              10.02.2023-15.03.2023, va oferim o reducere de <s>10%</s>
              <ins style="font-weight: bold; text-decoration: none">15%</ins> la
              orice puzzle, Lego sau joc cu tematica de dragoste
            </p>
          </article>
          <article>
            <h3>Trading makes the world a better place!</h3>
            <p>
              Cum altfel au evoluat oamenii timp de milioane de ani, daca nu
              prin intermediului schimbului de servicii? In spiritul evolutiei
              reciproce, iti propunem un targ: ne trimiti la adresa de mail a
              site-ului jucaria ta preferata, iar noi iti dam cadou la
              urmatoarea comanda un joc Jenga sau Uno, la alegere. Promotie
              valabila pana la 31.12.2023
            </p>
          </article>
          <article>
            <h3>Reduceri pentru luna martie</h3>
            <p>
              In documentul atasat, gasiti toate reducerile pe care le avem in
              luna:
              <a class="link" href="reduceri_martie.xlsx" download> martie </a>
            </p>
          </article>
        </section>
        <section id="Anunturi">
          <h2>Anunturi</h2>
          <details>
            <summary>Oportunitate angajare</summary>
            <p>Zambetul oamenilor iti face sufletul sa tresara de bucurie?</p>
            <p>
              Jucariile iti ofera aceeasi stare de pace si bucurie pe care ti-o
              ofereau in copilarie?
            </p>
            <p>Ai peste 18 ani si iti doresti sa lucrezi pe durata verii?</p>
            <p>
              Daca rapunsul la aceste intrebari e da, atunci te asteptam sa ni
              te alaturi vara aceasta, pentru o calatorie de 3 luni in taramul
              magic al copilariei! Trimite-ne cv-ul tau la adresa de mail din
              partea de jos a paginii daca vrei sa faci parte din echipa
              aducatorilor de zambete!
            </p>
          </details>

          <details>
            <summary>Parteneriat cu World Health Organization</summary>
            <p>
              Pe fondul crizei din Ucraina si al pandemiei de COVID-19, milioane
              de oameni din Cornul Africii nu au garantia urmatoarei mese. Acest
              fenomen a dus la migrarea masiva a populatiei, adesea in conditii
              inumane de igiena. Pentru a combate acest fenomen, la fiecare
              comanda de peste 100 de lei, 5% din suma va fi redirectionata
              catre World Health Organization pentru combaterea acestei crize.
            </p>
            <p>
              Daca doriti sa va informati referitor la acest subiect, va
              recomandam sa accesati urmatorul link
            </p>
            <a
              class="link"
              href="https://www.who.int/emergencies/situations/drought-food-insecurity-greater-horn-of-africa"
              >Horn of Africa</a
            >
          </details>
        </section>

        <section id="intrebari">
          <h2>Întrebări frecvente</h2>
          <details>
            <summary>Pot sa cumpar un produs in rate?</summary>
            <p>Da, in rate cu 0% dobanda prin CardAvantaj!</p>
          </details>
          <details>
            <summary>
              In cat timp de la cumparare pot returna un produs?
            </summary>
            <p>
              Produsele se pot returna in 30 de zile calendaristice de la
              momentul achizitionarii!
            </p>
          </details>
          <details>
            <summary>In ce conditii pot returna un produs?</summary>
            <p>
              Puteti returna un produs daca starea lui este aceeasi ca la
              primire!
            </p>
          </details>
        </section>
        <section id="copii">
          <h2>Ateliere pentru copii</h2>
          <p>
            In primul weekend din fiecare luna, in toate locatiile noastre se
            organizeaza ateliere pentru copii, intre orele 12-15. Cei mici au
            ocazia sa intalneasca personajele favorite si sa descopere noi
            jocuri, in timp ce adultii se pot relaxa la una din cafenele din
            zona. Va asteptam in numar cat mai mare!
          </p>
          <figure class="figura">
            <picture>
              <source
                srcset="resurse/imagini/atelier_mic.jpg"
                media="(max-width:700px)"
              />
              <source
                srcset="resurse/imagini/atelier_mediu.jpg"
                media="(max-width:1000px)"
              />
              <img src="resurse/imagini/atelier_mare.jpeg" alt="text" />
            </picture>
            <figcaption>Ateliere</figcaption>
          </figure>
        </section>
        <section id="informatii">
          <h3>Informatii</h3>
          <p>Ip: <%- locals.ip %></p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi
            voluptatum, magnam placeat ex minus, quis quibusdam pariatur
            reiciendis asperiores autem dicta ab qui, id odio temporibus sequi
            excepturi facilis omnis!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae
            aperiam, facilis quam laudantium, doloribus nobis ad, culpa iste
            eligendi perspiciatis iusto reiciendis harum. Unde earum commodi
            nobis, adipisci exercitationem ducimus.
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat rem
            perferendis quam sunt. Amet aperiam veritatis explicabo beatae
            laborum optio repudiandae, nam at fuga eaque id ex nihil quas modi!
          </p>
        </section>
        <section id="vandute">
          <div style="overflow-y: auto; width: 100%">
            <table id="jucarii" width="500px">
              <thead>
                <tr>
                  <th>Tip</th>
                  <th>Jucarie</th>
                  <th>Pret</th>
                  <th>Varsta</th>
                  <th colspan="1">Cantitate ramasa</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="2">Lego</td>
                  <td>Lego Harry Potter</td>
                  <td>200 de lei</td>
                  <td>10 ani</td>
                  <td>3 bucati</td>
                </tr>
                <tr>
                  <td>Lego Spiderman</td>
                  <td>250 de lei</td>
                  <td>11 ani</td>
                  <td>5 bucati</td>
                </tr>
                <tr>
                  <td rowspan="2">Joc de societate</td>
                  <td>Joc Uno</td>
                  <td>20 de lei</td>
                  <td>7 ani</td>
                  <td>4 bucati</td>
                </tr>
                <tr>
                  <td>Joc Jenga</td>
                  <td>30 de lei</td>
                  <td>8 ani</td>
                  <td>3 bucati</td>
                </tr>
                <tr>
                  <td>Puzzle</td>
                  <td>Puzzle Natura</td>
                  <td>100 de lei</td>
                  <td>12 ani</td>
                  <td>4 bucati</td>
                </tr>
              </tbody>
              <caption>
                Cele mai vandute jucarii
              </caption>
            </table>
          </div>
        </section>

        <section id="produse">
          <h2>Va invitam sa descoperiti produsele noastre:</h2>
          <section id="jocuri">
            <h3><b>Jocuri</b></h3>
            <p>
              <q>Play is the beginning of knowledge</q> a spus George Dorsey
              intr-o zi, iar cuvintele lui au calatorit in timp si in spatiu
              pana in sufletele noastre. Inspirati de intelepciunea vorbelor
              sale, am creat o selectie de jocuri menite sa stimuleze
              creativitatea, imaginatia si dorinta de cunoastere a copiilor si
              adultilor.
            </p>

            <p>Jocurile noastre:</p>
            <ul>
              <li>Catan</li>
              <li>Monopoly</li>
              <li>Jenga</li>
              <li>Remi</li>
              <li>Uno</li>
              <li>Connect4</li>
              <li>Truc de magie Marvin's Magic - Moneda</li>
              <li>Set de experimente Science4You</li>
              <li>Laborator de bijuterii Make It Real</li>
              <li>Macheta anatomica de asamblat</li>
            </ul>
          </section>
          <section id="puzzle">
            <h3>
              Vreti sa va puneti mintea la incercare? In acest caz, ati ajuns in
              locul potrivit!
            </h3>

            <section id="puzzleclasic">
              <h4><b>Puzzle</b></h4>
              <p>
                Sunteti in cautare de un cadou care sa ii puna copilului
                dumneavoastra mintea la incercare? Noi va propunem sa alegeti
                dintre urmatoarele variante:
              </p>
              <ul>
                <li>Puzzle Natura, 500 piese</li>
                <li>Puzzle Delta Dunarii, 1000 piese</li>
                <li>Puzzle Venetia, 2500 piese</li>
                <li>Puzzle Lumea Vesela-La ferma, 250 piese</li>
              </ul>
            </section>

            <section id="puzzle3D">
              <h4><b>Puzzle 3D</b></h4>
              <p>
                Sunteti deja experti la puzzle-uri si nimic din ofertele de pe
                piata nu va satisface nevoia de creatie? Din fericire pentru
                dumneavoastra, noi venim cu o noua provocare:puzzle-urile 3D
              </p>

              <p>Puzzle-uri 3D:</p>
              <ul>
                <li>Puzzle 3D Castelul Peles</li>
                <li>Puzzle 3D Castelul Bran</li>
                <li>Puzzle 3D Sania lui Mos Craciun</li>
                <li>Puzzle 3D Toyota Yaris 2022</li>
              </ul>
            </section>
          </section>

          <section id="lego">
            <h3>Jucarii Lego</h3>
            <p>
              Daca doriti sa deveniti creatori ai unor noi lumi, noi va oferim o
              gama larga de posibilitati, atat pentru copii, cat si pentru
              adulti:
            </p>

            <ul>
              <li>Bufnita lui Harry Potter</li>
              <li>Spiderman</li>
              <li>Buchet de flori</li>
              <li>2022 Ford GT</li>
            </ul>
          </section>
        </section>
      </div>
      <%- include("../fragmente/galerieFrag.ejs") %>
      <hr />
      <section id="idei">
        <h2>Idei de impachetat cadouri</h2>
        <p>
          Odata ce ati ales cadoul potrivit, mai aveti o provocare de depasit:
          impachetarea. Va recomandam sa alegeti una din ideile prezentate mai
          jos
        </p>
        <a
          class="link"
          href="https://www.countryliving.com/diy-crafts/how-to/g900/how-to-wrap-a-gift/"
          >Ghid pentru impachetat cadouri</a
        >
        <div class="container-iframe">
          <iframe
            name="ifr-video"
            width="500"
            height="315"
            src="https://www.youtube.com/embed/uwpDPlmc-j8"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <div class="taburi-iframe">
            <a
              class="aifr"
              href="https://www.youtube.com/embed/uwpDPlmc-j8"
              target="ifr-video"
              >Impachetarea cadourilor</a
            >
            <a
              class="aifr"
              href="https://www.youtube.com/embed/1HycHbXGdxY"
              target="ifr-video"
              >Fundite</a
            >
          </div>
        </div>
      </section>
    </main>
    <%- include("../fragmente/footer.ejs") %>
  </body>
</html>
